<!doctype html>
<html lang=sv>
  <head>
    <meta charset=utf-8>
    <title>Swipe</title>
    <link rel="stylesheet" type="text/css" href="./style.css">
  </head>
  <body>
    <div id="tryout" v-cloak>
      <div class="deck">
        <div class="intro" v-if="state == 'ready'">
          <h1>Piltest</h1>
          <p>Om pilen pekar vänster, tryck på f, om pilen pekar höger, tryck på j.</p>
          <p>Tryck på mellanslag för att starta testet.</p>
        </div>
        <transition-group v-on:leave="solve">
          <div
            class="task"
            v-if="state == 'started'"
            v-for="task in tasks"
            :key="task.id"
            :task-id="task.id"
            >
            {{ task.description }}
          </div>
        </transition-group>
        <div class="done" v-if="state == 'completed'">
          <h1>Klar!</h1>
          <p>Du kom etta.</p>
          <p>Tryck på mellanslag för att komma tillbaka till början.</p>
        </div>
      </div>
    </div>
    <script src="./script.js"></script>
  </body>
</html>
