* {
  box-sizing: border-box;
}

[v-cloak] {
  display: none;
}

#tryout {
  padding-top: 10vh;
  height: 90vh;
  width: 70vh;
  margin: auto;
  overflow: hidden;
}

.deck {
  position: relative;
  margin: auto;

  /* A8 */
  height: 74vh;
  width: 52vh;
}

.task {
  position: absolute;
  background: white;

  width: 100%;
  height: 100%;

  border: 5px solid black;
  border-radius: 1vh;

  padding-top: 40%;
  font-size: 200px;
  text-align: center;
  -webkit-backface-visibility: hidden;
}
