[v-cloak] {
  display: none;
}

#tryout {
  text-align: center;
}

.deck {
  position: relative;
}

.card {
  margin-top: 10vh;
}

.hidden {
  display: none;
}

.card.task {
  background: white;
  position: absolute;
  font-size: 200px;
}
