[v-cloak] {
  display: none;
}

.tryout {
  text-align: center;
}

.deck {
  position: relative;
}

.card {
  margin-top: 10vh;
}

.hidden {
  display: none;
}

.card.task {
  font-size: 200px;
}

.card.task.solved {
  position: absolute;
}
